*{
  font-family: 'Shantell Sans', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cardBody {
  text-align: left !important;
}

#Card, #login, #signup {
  border: solid black 3px;
}

#btnAdd {
  border: solid black 1px;
  border-radius: 50px;
}

body {
  background-image: url('images/SchoolSupplies.png');
  background-size: 100%;
  background-repeat: repeat-y;
}


#table {
  background-color: white;
  border: solid black 3px;
}

#editTbl {
  background-color: white;
  border: solid black 2px;
}

#admindash, #editProd, #products {
  text-shadow:
  -1px 0px 0px black,
  1px 0px 0px red,
  0px -1px 0px black,
  2px 1px 0px green;
  color: #CC9466;
  letter-spacing: 3px;
  font-size: 50px;
}

#products {
  background-color: white;
  width: 58%;
  border-radius: 50px;
}

#editProd {
  background-color: white;
  width: 32%;
  border-radius: 50px;
}

/*#homeBtn {
  font-family: 'Shantell Sans', cursive;
  border: solid black 3px;
  height: 9vh;
  width: 15vw;
  border-radius: 50px;
  margin-top: 15rem;
  background-color: lightgray;
  vertical-align: middle;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#homeBtn:hover {
  background-color: black;
  color: white;
}*/

@media (max-width: 1300px) {
  #ordernow {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  #ordernow {
    font-size: 15px;

  }
}
 
#homeBtn {
  background-color: gray;
  color: black;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: solid black 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 14rem;

}

#homeBtn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
  transform: scale(1.3);
  border: solid white 3px;
}

/*#ssMain{
  font-family: 'Gajraj One', cursive;
  text-shadow:
  -1px 0px 0px blue,
  1px 0px 0px blue,
  0px -1px 0px blue,
  2px 1px 0px blue;
  color: #9A7B4F;
  letter-spacing: 3px;
  font-size: 50px;
}*/


#ssMain{
  font-size: 70px;
  font-weight: bold;
  color: #9A7B4F;
  margin-left: 10px;
  text-shadow: 2px 2px #000;
}


#divMain{
  background-color: white;
  width: 65%;
  border-radius: 100%;
  margin-left: -37%;
}